* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-width: 1000px;
}

.header,
.footer {
  background-color: #1f2937;
  padding: 40px 5%;
  min-width: 1000px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  gap: 100px;
}

.header-logo {
  font-size: 24px;
  white-space: nowrap;
  color: #f9faf8;
}

ul {
  display: flex;
  list-style: none;
  gap: 16px;
}

a {
  text-decoration: none;
  white-space: nowrap;
}

a,
.hero-sub {
  font-size: 18px;
  color: #efe7eb;
  font-weight: lighter;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 2;
  min-width: 500px;
  max-width: 500px;
}

.hero-main {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-text > button {
  align-self: flex-start;
}

.hero-img {
  width: 100%;
  flex: 3;
  max-width: 600px;
  height: 300px;
  object-fit: cover;
  align-self: center;
}

.inspiration {
  background-color: #e5e7eb;
}

.main-body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header,
.footer,
.information,
.inspiration,
.action {
  padding: 40px 15%;
  min-width: 1000px;
  max-width: 100%;
  flex: 1;
}

.footer {
  text-align: center;
  color: #f9faf8;
}

button {
  background-color: #3882f6;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  color: #f9faf8;
  white-space: nowrap;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 50px;
}

h3 {
  font-weight: 900;
  font-size: 36px;
  color: #1f2937;
  text-align: center;
  margin: 0 auto;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex: 1;
  text-align: center;
}

.card-img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border: 3px solid #3882f6;
  border-radius: 10px;
  margin: 10px;
}

.card-text {
  max-width: 200px;
}

.inspiration {
  display: flex;
  flex-direction: column;
  padding: 8% 20%;
  gap: 16px;
}

.quote {
  align-self: flex-start;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.source {
  align-self: flex-end;
}

.action {
  display: flex;
  justify-content: center;
  padding: 5% 15%;
}

.action-main {
  flex: 1;
  display: flex;
  background-color: #3882f6;
  border-radius: 10px;
  color: #e5e7eb;
  justify-content: space-between;
  padding: 5% 10%;
}

.action-content {
  display: flex;
  flex-direction: column;
}

.action-main > button {
  border: 2px solid white;
  border-radius: 10px;
  align-self: center;
}
